<h1>Liste <%= @list.name %></h1>
<br>
<ul>
    <% @list.bookmarks.each do |bookmark| %>
        <li>
            <strong><%= bookmark.movie.title %></strong>
            <%= bookmark.comment %>
            <img src="<%= bookmark.movie.poster_url %>" alt="" style="height: 100px;">
            
            
            <%= link_to "Delete", list_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm:"Are you sure"}, class: "btn btn-ghost"  %>
            
        </li>
    <% end %>
</ul>

<%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<br>
<br>
<%= link_to "Back to lists", lists_path %>